*{
    margin: 0%;
    padding: 0%;
    @import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;300&display=swap');
}

body{
    background-color: #F0F2F5;
}
 .esas{
    display: flex;
    background-color: #F0F2F5;
    justify-content: space-around;
    padding: 130px 100px;

    
 }
 
 .logosehife{
    justify-items: center;
    display: flexbox;
    align-items: center;
    padding-top: 70px;
    
    
    
    
 }
   img{
    height: 106px;
    width: 300px;
    margin: -28px;
   

    
    
   }
    h1{
        font-family: 'Anek Malayalam', sans-serif;
        font-size: 27px;
        padding-top: 10px;
        
        
    }

 
 
    

 .loginsehife{
    padding: 15px;
    background-color: #fff;
    display:flex;
    border-radius: 9px;
    box-shadow: #292b2e;
    justify-content: center;
    align-items: center;
   
 }
 

 .crt{
    justify-content: center;
    text-align-last: right;
    margin-right: 200px;
    padding: 0%;
    
 }
  .crt a{
    color: black;
  }

  form {
   display: flexbox;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   box-shadow: #292b2e;
 
}
 
#email {
padding:15px;
width: 330px;
border-radius: 8px;
border-color: #d0d3da;
}
#pwd {
   padding: 15px;
   width: 330px;
   border-radius: 8px;
   border-color: #c5c8cc;
}
#button{
width: 360px;
padding:15px;
align-items: center;
background-color:#1877F2;
justify-content: center;
border-radius: 8px;


}
 #forgot{
   text-decoration: none;
   align-items: center;
   text-align: center;
 }
 
 #crta{
   justify-content: center;
   background-color: #42B72A;
   padding: 15px;
   width: 200px;
   border-radius: 8px;
   border-color: none;
   margin: 25px;
   

 }


  